#productos-destacados {
  padding: 1rem;

  h1 {
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: 1rem 0;

    strong {
      color: #f75590;
    }
  }

  p {
    font-size: 1.15rem;
    line-height: 1.4;
    text-align: center;

    strong {
      color: #f75590;
      font-family: "Playfair Display", serif;
      font-size: 1.5em;
    }
  }

  .tagline {
    margin: 1rem 0 0;
  }

  .cta-line {
    margin: 10px 0 1rem;
  }

  .pink-btn {
    margin: 0 auto;
    display: table;
  }

  span {
    font-family: "Montserrat", sans-serif;
    color: #6f6f6f;
    font-size: 13px;
    font-weight: 500;
  }
}
