#checkout {
  padding: 5rem 1rem 0;
}

.checkout-container {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(300px, 30%);
  align-items: self-start;
  padding: 2rem 0;
  gap: 3rem;

  @media (max-width: 728px) {
    grid-template-columns: 1fr;
    padding: 1rem 0;
  }
}

h1 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  line-height: 1;
  margin: 0;

  strong {
    color: #f75590;
    display: block;
    font-size: 1.4em;
  }
}

h4 {
  margin: 0;
  color: #f75590;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.resumen {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 1rem;
  border-radius: 10px;

  grid-column: 3 / 4;

  @media (max-width: 728px) {
    grid-column: 1 / 3;
  }

  p {
    font-weight: bold;
  }

  .pink-btn {
    width: 100%;
  }
}

.info {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selector-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.w-full {
  width: 100%;
  margin: 10px 0 1rem 0;
}

.payments button {
  background: transparent;
  color: #565656;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #565656;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 180px;

  &.selected {
    background: #9747ff;
    color: white;
    border-color: #9747ff;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.flex {
  display: flex;
  gap: 1rem;
}

.total {
  font-weight: bold;
  color: #f75590;
  font-size: 2rem;
  margin: 0 0 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.addresses article {
  cursor: pointer !important;
}
