#nuestra-historia {
  padding: 2rem 1rem;

  @media (min-width: 768px) {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 1rem;

    section,
    div {
      flex: 1;
    }

    section {
      order: 2;
    }

    div {
      order: 1;
    }
  }

  @media (min-width: 1200px) {
    gap: 9rem;
  }

  img {
    width: 100%;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
  }

  strong {
    color: #f75590;
  }

  p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.5;

    @media (min-width: 1200px) {
      line-height: 1.8;
    }
  }
}

#mision-vision {
  padding: 2rem 1rem;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 2rem;
    padding: 5rem 1rem;

    article {
      flex: 1;
    }
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
    display: table;
  }

  h2 {
    color: #f75590;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    text-align: center;
  }

  p {
    line-height: 1.6;
    text-align: justify;

    @media screen and (min-width: 1024px) {
      line-height: 1.8;
      width: 370px;
      margin: 0 auto;
    }
  }
}
