<section id="banner">
  <div class="content-container">
    <h2>
      Sobre
      <span>Nosotros</span>
    </h2>
    <p>Nuestra historia comienza con harina, azúcar y un sueño.</p>
    <img src="assets/img/cake2.jpg" alt="Cake" />
  </div>
</section>

<section id="nuestra-historia" class="content-container">
  <section>
    <h1>Nuestra <strong>historia</strong></h1>
    <p>
      En <strong>Pastriesland</strong> creemos que cada postre cuenta una
      historia. Nos especializamos en la elaboración de productos de pastelería
      y confitería con un firme compromiso por la calidad, la excelencia y la
      higiene. Cada pastel, cada bocado, está pensado para satisfacer los gustos
      de nuestros clientes, ofreciendo una amplia variedad de especialidades que
      combinan tradición y creatividad.
    </p>
  </section>
  <div><img src="assets/img/fundadora.jpg" alt="Nuestra fundadora" /></div>
</section>

<section id="mision-vision" class="content-container">
  <article>
    <img src="assets/icons/vision.svg" alt="Visión" />
    <h2>Visión</h2>
    <p>
      Ser una empresa reconocida localmente por sus productos de calidad humana,
      brindando una variedad de sabores y diseños para satisfacer las
      preferencias de los consumidores; con un compromiso de mejora continua.
    </p>
  </article>

  <article>
    <img src="assets/icons/mision.svg" alt="Misión" />
    <h2>Misión</h2>
    <p>
      Somos una empresa que ofrece productos de pastelería personalizados,
      elaborados con calidad, excelencia e higiene; innovando a través de la
      variedad de diseños y especialidades, cumpliendo con los gustos de
      nuestros clientes
    </p>
  </article>
</section>

<app-contact-form />
