footer {
  background: #bff1f0;
  padding: 2rem 0;
  border-bottom: 6px solid #7b9a99;
}

.content-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media (min-width: 768px) {
      width: auto;
      gap: 2rem;
    }
  }
}
