<footer>
  <div class="content-container">
    <a routerLink="/" class="web-title">Pastriesland</a>
    <section class="links">
      <a href="" rel="nofollow" target="_blank">
        <img src="assets/icons/instagram.svg" alt="Instagram" />
      </a>

      <a href="" rel="nofollow" target="_blank">
        <img src="assets/icons/facebook.svg" alt="Facebook" />
      </a>

      <a href="" rel="nofollow" target="_blank">
        <img src="assets/icons/tiktok.svg" alt="TikTok" />
      </a>

      <a href="" rel="nofollow" target="_blank">
        <img src="assets/icons/whatsapp.svg" alt="WhatsApp" />
      </a>

      <a href="" rel="nofollow" target="_blank">
        <img src="assets/icons/pedidosya.svg" alt="" />
      </a>
    </section>
  </div>
</footer>
