#contactanos {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1rem 0;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    width: 100%;

    form {
      order: 1;
      flex: 1;
    }
  }

  @media (min-width: 1224px) {
    gap: 8rem;
    padding: 0 1rem 0 0;
  }

  .img-container {
    @media (min-width: 768px) {
      order: 2;
      flex: 1;
      object-fit: cover;
    }
  }

  img {
    width: 100%;

    @media (min-width: 768px) {
      object-fit: cover;
      height: 650px;
    }
  }

  h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    margin: 0;
  }

  strong,
  i {
    color: #f75590;
    font-weight: 500;
  }

  i {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.25rem;
  }

  .w-full {
    width: 100%;
    margin: 0 0 10px;
  }

  textarea {
    resize: none;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
  }

  button {
    display: table;
    margin: 0 auto;
    font-size: 1rem;
  }

  .whatsapp-btn {
    background: #9747ff;
    border-color: #9747ff;
    display: table;
    margin: 0 auto;

    &:hover {
      background: green;
      border-color: green;
      color: #fff !important;
    }
  }
}
