ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

li {
  font-size: 1rem;
  border: 3px solid #F75590;
  background: white;
  color: #F75590;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  transition: .2s ease all;
  cursor: pointer;
  user-select: none;

  &:hover,
  &.current-page{
    background: #F75590;
    color: white;
  }

  &.current-page {
    cursor: default;
  }
}


.mat-icon {
  font-size: 34px;
  font-weight: bold;
  width: 32px;
  height: 32px;
}

.next-page,
.prev-page {
  border-color: transparent !important;
  background: transparent !important;

  &:hover {
    color: #9747FF;
    transform: scale(1.05);
  }

  &.disabled {
    color: #ccc;
    cursor: not-allowed;
  }
}
