article {
  background: white;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;

  div img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  section {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    margin: 0;
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
    font-weight: 500;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .price {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
  }

  .btn-container {
    padding: 0 1rem 1rem;
  }

  .pink-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      width: 24px;
      object-fit: contain;
      height: 24px;
      filter: brightness(0) invert(1);
    }
  }
}
