<section class="modal-container">
  <button class="close-modal" (click)="close()">X</button>
  <article><img src="assets/img/register-image.jpg" alt="Register"></article>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <h1>Crear <i>Cuenta</i></h1>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        placeholder="Tu nombre"
        type="text"
        formControlName="name"
        required
      />

      <mat-error *ngIf="nameErrors">
        {{nameErrors}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Apellido</mat-label>
      <input
        matInput
        placeholder="Tu apellido"
        type="text"
        required
        formControlName="lastName"
      />

      <mat-error *ngIf="lastNameErrors">
        {{lastNameErrors}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        placeholder="ej: amigo@email.com"
        type="text"
        required
        formControlName="email"
      />

      <mat-error *ngIf="emailErrors">
        {{emailErrors}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        required
        formControlName="password"
      />

      <mat-error *ngIf="passwordErrors">
        {{passwordErrors}}
      </mat-error>

      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="'Mostrar/Ocultar contraseña'"
        [attr.aria-pressed]="!hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        required
        formControlName="confirmPassword"
      />

      <mat-error *ngIf="confirmPasswordErrors">
        {{confirmPasswordErrors}}
      </mat-error>

      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="'Mostrar/Ocultar contraseña'"
        [attr.aria-pressed]="!hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button type="submit" class="pink-btn">Crear cuenta</button>

    <span class="tag">¿Ya tienes cuenta?</span>
    <button type="button" (click)="openRegisterModal()" class="link">Iniciar sesión</button>
  </form>
</section>
