.close-btn {
  position: absolute;
  top: 5px;
  right: 1rem;
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

section.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;

  strong {
    color: #f75590;
  }
}

p {
  margin: 0;
  text-align: center;
}

.subtotal {
  font-size: 1.4rem;
  font-family: "Playfair Display", serif;
  text-align: right;
  font-weight: bold;

  strong {
    color: #f75590;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  @media (min-width: 768px) {
    gap: 2rem;
    flex-direction: row;
  }
}

.pink-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  img {
    filter: brightness(0) invert(1);
    width: 24px;
    height: 24px;
  }
}

.pink-btn,
.white-btn {
  width: 100%;
  max-width: 250px;
  height: 48px;
}
