@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snack-error .mdc-snackbar__surface.mat-mdc-snackbar-surface,
.snack-success .mdc-snackbar__surface.mat-mdc-snackbar-surface,
.snack-info .mdc-snackbar__surface.mat-mdc-snackbar-surface {
  color: white;

  * {
    color: white !important;
  }
}

.snack-success .mdc-snackbar__surface.mat-mdc-snackbar-surface {
  background-color: #4caf50;
}

.snack-error .mdc-snackbar__surface.mat-mdc-snackbar-surface {
  background-color: #f44336;
}
.snack-info .mdc-snackbar__surface.mat-mdc-snackbar-surface {
  background-color: #2196f3;
}

* {
  box-sizing: border-box;
}

.font-playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-montserrat,
p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.content-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.pink-btn,
.purple-btn,
.white-btn {
  background: #f75590;
  display: inline-block;
  font-weight: bold;
  padding: 10px 1.5rem;
  color: #fff5e1 !important;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid #f75590;
  font-family: "Playfair Display", serif;
  cursor: pointer;
  transition: 0.2s all ease;

  &:hover {
    background: #9747ff;
    transform: scale(1.03);
    border-color: #9747ff;
  }
}

.purple-btn {
  background: #9747ff;
  border-color: #9747ff;

  &:hover {
    background: #f75590;
    border-color: #f75590;
  }
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: #f75590 !important;
}

.web-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  font-size: 1.5rem;
  color: #0d1821;
}

#banner {
  background: #bff1f0;
  position: relative;
  min-height: 100vh;
  padding: 70px 0;

  @media (min-width: 1024px) {
    min-height: 60vh;
    padding: 150px 0;
  }

  @media (min-width: 1224px) {
    min-height: 75vh;
    padding: 250px 0;
  }

  p {
    text-align: left;
  }

  img {
    max-width: 100%;
    position: absolute;
    pointer-events: none;
    user-select: none;
    bottom: 0;
    right: 0;
    z-index: 1;

    @media (min-width: 1024px) {
      width: 60%;
      max-width: 1050px;
    }
  }

  h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 0.8;
    position: relative;
    z-index: 2;
    margin: 0;

    span {
      color: #f75590;
      font-size: 1.6em;
      display: block;
    }
  }

  p {
    margin: 2rem 0;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 2;

    @media (min-width: 1024px) {
      max-width: 450px;
    }
  }
}

.modal-container {
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  article {
    display: none;

    @media (min-width: 1200px) {
      display: block !important;
      flex: 1;
    }
  }

  form {
    padding: 2rem;
    flex: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .close-modal {
    cursor: pointer;
    background: transparent;
    border: 0;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    transition: 0.3s all ease;
    right: 1rem;

    &:hover {
      color: #9747ff;
      transform: scale(1.1);
    }

    &:focus {
      outline: none;
    }
  }

  h1 {
    margin: 0 0 1.5rem;
    font-family: "Playfair Display", serif;
    font-size: 2rem;

    i {
      font-style: normal;
      color: #f75590;
    }
  }

  .w-full {
    width: 100%;
    margin-bottom: 1rem;
  }

  .pink-btn,
  .purple-btn {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
  }

  .purple-btn:hover {
    background: white;
    color: #9747ff !important;
    border-color: #9747ff;
  }

  p {
    text-align: center;
    margin: 1.5rem 0 10px;
  }

  .tag {
    display: block;
    text-align: center;
    font-size: 0.95rem;
    font-family: "Montserrat", sans-serif;
    margin: 1rem 0;
  }

  .link {
    font-size: 1.3rem;
    color: #f75590;
    border: 0;
    text-align: center;
    display: block;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-decoration: underline;
    transition: 0.3s all ease;
    cursor: pointer;
    background: 0;
    width: 100%;

    &:focus {
      outline: none;
    }

    &:hover {
      color: #9747ff;
      transform: scale(1.04);
    }
  }
}

.product-grid {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  @media (min-width: 1200px) {
    gap: 3rem;
  }
}

.pink-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: #f75590 !important;
  border-color: #f75590 !important;
}

.white-btn {
  background: white;
  color: #f75590 !important;

  &:hover {
    background: #9747ff;
    color: white !important;
    border-color: #9747ff;
  }
}

.carrito-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 400px;
  overflow: auto;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &.no-max-height {
    height: auto;
    min-height: 400px;
  }
}
