article {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  .img-container,
  section {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 1rem 1rem;
}

p,
h4 {
  margin: 0;
  text-align: center;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #f75590;
  font-size: 1.3rem;
}

.mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: none;

  @media (min-width: 1024px) {
    display: inline-block;
  }
}

.pink-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
