<article>
  <div class="img-container">
    <img [src]="mainImage" [alt]="product.name" />
  </div>
  <section>
    <h4>{{ product.name }}</h4>
    <p class="price">{{ product.basePrice | currency }}</p>
    <p class="price-total"><b>Total:</b> {{ totalPrice | currency }}</p>
    <div class="button-actions">
      <button *ngIf="!hideactions" (click)="removeOne()">-</button>
      <span
        >Cantidad: <b>{{ product.quantity }}</b></span
      >
      <button *ngIf="!hideactions" (click)="addOneMore()">+</button>
    </div>
    <button *ngIf="!hideactions" class="pink-btn" (click)="removeProduct()">
      <mat-icon>delete</mat-icon>
      Quitar del carrito
    </button>
  </section>
</article>
