article {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  .img-container,
  section {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 1rem 1rem;
}

p,
h4 {
  margin: 0;
  text-align: center;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #f75590;
  font-size: 1.3rem;

  &.price-total {
    color: #9747ff;
    font-size: 1.5rem;
  }
}

.mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: none;

  @media (min-width: 1024px) {
    display: inline-block;
  }
}

.pink-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button-actions {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 15px;

  span {
    font-size: 16px;
    display: block;
    text-align: center;
    color: #9747ff;
    font-weight: 500;
  }

  button {
    display: block;
    font-size: 24px;
    background: #f75590;
    border: 0;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all;
    height: 36px;

    &:hover {
      background: #9747ff;
    }
  }
}
